@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	background-color: #f4f4f4;
	padding-top: 120px;
	width: 100%;
}

.menu {
	display: flex;
	justify-content: center;
	background-color: #fff;
	padding: 15px;
	background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
	margin-bottom: 10px;
}

.menu a {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	width: 180px;
	color: #000;
	font-size: 20px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

.menu a span {
	margin-top: 10px;
}

.menu a:hover {
	font-weight: bold;
}

.menu a:hover img {
	transform: scale(1.1);
}

.slide-show {
	position: relative;
	overflow: hidden;
	width: calc(100% - 20px);
	margin: 0px 10px 0px 10px;
	border-radius: 16px;
}

.slideshow {
	display: flex;
	transform: translateX(0);
	transition: 0.6s;
}

.slide {
	display: flex;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 16px;
	align-items: center;
	border: 1px solid #ddd;
	justify-content: space-between;
	background: linear-gradient(to left, #0056b3, #bbe5ee);
}

.info-slide {
	flex: 1;
	padding-right: 20px;
}

.header-slide {
	font-size: 24px;
	margin-bottom: 10px;
}

.image-slide {
	flex: 1;
	text-align: right;
}

.image-slide img {
	width: 60%;
	max-width: 100%;
	height: auto;
}

.menu img {
	width: 32px;
}

.booth {
	position: relative;
	margin: 0 auto;
	width: 90%;
	border-radius: 16px;
	background-color: #fff;
	margin-bottom: 30px;
}

.name-booth {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

.see-more {
	position: absolute;
	right: 8px;
	bottom: 50%;
	transform: translateY(50%);
	width: 50px;
	height: 50px;
	background-color: #2ecc71;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.see-more:hover {
	transform: translateY(50%) scale(1.1);
	filter: brightness(90%);
}

.see-more a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

.list-product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 280px;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}

.btn-chitet {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 16px;
	background-color: #2ecc71;
	opacity: 0;
	/* Ẩn ban đầu */
	transition: opacity 0.3s ease;
	/* Thêm hiệu ứng chuyển động */
}

.product-name {
	height: 50px;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.product:hover img {
	filter: blur(5px);
	/* Làm mờ ảnh khi hover */
}

.product:hover .btn-chitet {
	opacity: 1;
	/* Hiện nút khi hover */
}

.list-btn {
	width: 100%;
	display: flex;
	margin-top: 20px;
	justify-content: space-around;
}

.btn {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100px;
	color: #fff;
	text-decoration: none;
	padding: 10px 10px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
	background-color: #2ecc71;
}

.list-btn a:hover {
	font-size: 16px;
	font-weight: bold;
}